<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link href="styles.css" rel="stylesheet" />
	</head>
	<body style="font-family: redfinIcons;">
		<h1>Experiment 5: Asynchronous SVG store</h1>
		<p>Generate an svg store, request it asynchronously, and then use media queries.</p>
		<ul>
			<li>Total size: 237 KB</li>
			<li>Aggregate time: 3.26s</li>
			<li>Load time: 178 ms</li>
			<li>Max JS Heap size: 18,079,912</li>
		</ul>
		<div id="icons"></div>

		<script type="text/javascript" src="react/react.js"></script>
		<script type="text/javascript" src="react/JSXTransformer.js"></script>
		<script type="text/javascript" src="constants.js"/></script>
		<script type="text/jsx" src="svg-store.js"/></script>
		<script>
			if (!document.getElementById("svg-store")) {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "svg.svg",false);
				xhr.overrideMimeType("image/svg+xml");
				xhr.send("");
				var svgDiv = document.createElement("div");
				svgDiv.id = "svg-store";
				svgDiv.style = { height: 0, width: 0, position: "absolute", visibility: "hidden" };
				svgDiv.innerHTML = xhr.response;
				document.body.appendChild(svgDiv);
			}
		</script>
	</body>
</html>
