<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<h1>LET'S DO SOME SCIENCE!</h1>
		<ul>
			<li><a href="experiment1.html">Experiment 1: PNG spritesheet in img tags</a></li>
			<li><a href="experiment2.html">Experiment 2: PNG spritesheet in div tags</a></li>
			<li><a href="experiment3.html">Experiment 3: SVG web font</a></li>
			<li><a href="experiment4.html">Experiment 4: Generate svg components and write them directly into the dom</a></li>
			<li><a href="experiment5.html">Experiment 5: Asynchronous SVG with media queries</a></li>
			<li><a href="experiment6.html">Experiment 6: Generate svg components and write them directly into the dom</a></li>
			<li><a href="experiment7.html">Experiment 7: Generate stylesheets with inlined svg images</a></li>
			<li><a href="experiment8.html">Experiment 8: Request external svgs</a></li>
	</body>
</html>
